In [67]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time

In [68]:
driver = webdriver.Chrome()

In [69]:


def obtener_data_faltante(year):
    
    url = f'https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'

    driver.get(url)
    
    matches = driver.find_elements(By.XPATH,'//tr[@itemprop="name"]')
    home = []
    score = []
    away = []

    for match in matches:
        try:
            home.append(match.find_element(By.XPATH,'.//th[1]').text)
            score.append(match.find_element(By.XPATH,'.//th[2]').text)
            away.append(match.find_element(By.XPATH,'.//th[3]').text)
            
            
        except NoSuchElementException:
            pass
        
    dict_football = {
        'home': home,
        'score':score,
        'away':away
    }
    df_football = pd.DataFrame(dict_football)
    df_football['year'] = year

    time.sleep(2)

    return df_football

In [70]:
years = [1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,1978,1982,1986,1990,1994,1998,2002,2006,2010,2014,2018]

fifa = [obtener_data_faltante(year) for year in years] #esto se llama lista de comprensión



df_fifa = pd.concat(fifa, ignore_index=True)

df_fifa.to_csv('fifa_worldcup.csv',index=False)
driver.quit()

In [74]:
df_fifa

           home         score      away  year
0       France            4–1    Mexico  1930
1    Argentina            1–0    France  1930
2        Chile            3–0    Mexico  1930
3        Chile            1–0    France  1930
4    Argentina            6–3    Mexico  1930
..          ...           ...       ...   ...
860     Russia   2–2 (a.e.t.)   Croatia  2018
861     France            1–0   Belgium  2018
862    Croatia   2–1 (a.e.t.)   England  2018
863    Belgium            2–0   England  2018
864     France            4–2   Croatia  2018

[865 rows x 4 columns]